<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="content-type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="icon" href="favicon.ico" type="image/x-icon"/>-->
    <title>ABC Editor</title>
    <link rel="icon" href="https://www.searchingwu.space/img/favicon.ico"/>

    <link rel="stylesheet" th:href="@{/css/examples-styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">

    <script th:src="@{/js/abcjs-basic.js}" type="text/javascript"></script>
    <link th:href="@{/css/abcjs-audio.css}" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

        function Sure() {
            var gnl = confirm("确定要提交?");
            if (gnl == true) {
                return true;
            } else {
                return false;
            }
        }
        var abcjsEditor;

        window.onload = function () {
            abcjsEditor = new ABCJS.Editor("abc", {
                canvas_id: "canvas",
                generate_warnings: true,
                warnings_id: "warnings",
                synth: {
                    el: "#audio",
                    options: { displayRestart: true, displayPlay: true, displayProgress: true, displayWarp: true }
                },
                abcjsParams: {
                    responsive: "resize",
                    oneSvgPerLine: true
                },
                selectionChangeCallback: selectionChangeCallback
            });
            document.getElementById("midi").addEventListener("click", downloadMidi);
        };
        function clickListener(abcElem, tuneNumber, classes, analysis, drag, mouseEvent) {
            var lastClicked = abcElem.midiPitches;
            if (!lastClicked)
                return;

            ABCJS.synth.playEvent(lastClicked, abcElem.midiGraceNotePitches, abcjsEditor.millisecondsPerMeasure()).then(function (response) {
                console.log("note played");
            }).catch(function (error) {
                console.log("error playing note", error);
            });
        }

        function selectionChangeCallback(start, end) {
            if (abcjsEditor) {
                var el = abcjsEditor.tunes[0].getElementFromChar(start);
                console.log(el);
            }
        }

        function downloadMidi() {
            var abc = document.getElementById("abc").value;
            var a = document.getElementById("midi-download");
            var midi = ABCJS.synth.getMidiFile(abc, { midiOutputType: "encoded" })
            a.setAttribute("href", midi)
            a.click();
        }

    </script>

    <style>
        @media print {
            div.forg3,div.ue1,div.print {
                display: none;
            }
            div.visible-background {
                display: block;
            }
            [fill="#ff0000"] {
                fill: currentColor;
            }
        }
    </style>

</head>
<body style="background-color: #FFF5EE">
<div class="ue1">
    <div class="ue2">
        <div style="float: left;height: 50px;width: 20%;margin-left: 45%;margin-bottom: -3%">
            <b style="font-size: 25px;color: #FF8C69">
                <strong>新建曲谱</strong>
            </b>
        </div>
        <div class="ue4">
            <ul>
                <li class="ue6">
                    <a th:href="@{https://www.searchingwu.space/user/findByName(username=${session.loginUser.username})}">
                        <b>
                            当前用户：<span th:text="${session.loginUser.username}"></span>
                        </b>
                    </a>
                </li>
                <li class="add">
                    <a th:href="@{https://www.searchingwu.space/user/findByName(username=${session.loginUser.username})}">
                        主页&nbsp&nbsp丨</a>
                </li>
                <li class="add">
                    <a href="https://www.searchingwu.space/index.html">退出登陆</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<form th:action="@{/music/save}" method="post" onsubmit="return Sure()">
    <div style="margin-left: 10%;margin-top: 3%">
        <div class="forg3">
            <div class="forg_n">
                <b>曲谱名</b>
            </div>
            <div>
                <input type="text" name="music_name" placeholder="请输入您的曲谱名" class="input">
            </div>
        </div>

        <div class="forg3">
            <div class="forg_n">
                <b>节&nbsp&nbsp&nbsp拍</b>
            </div>
            <div>
                <input type="text" name="beat" placeholder="请输入曲谱的节拍" class="input">
            </div>
        </div>

        <div class="forg3">
            <div class="forg_n">
                <b>定&nbsp&nbsp&nbsp调</b>
            </div>
            <div>
                <input type="text" name="tone" placeholder="请输入曲谱的定调" class="input">
                <input type="text" name="username" th:value="${session.loginUser.username}" class="input" style="display: none">
            </div>
        </div>
<!--        -->
        <div class="forg3">
            <div class="forg_n">
                <b>ABC乐谱</b>
            </div>
            <div>
                <textarea id="abc" name="abc" cols="80" rows="15"
                            spellcheck="false"
                                  style="float: left;
                                border: 1px solid #FFD3B9;
                                border-radius: 5px;"></textarea>
            </div>
        </div>
        <div class="forg3">
            <div id="warnings"></div>
            <div id="audio" class="audio"></div>
        </div>
    </div>
    <div class="forg3">
        <div class="btn0" style="margin-bottom: 3%;margin-left: 10%;">
            <input type="submit" value="上传乐谱" class="btn">
        </div>
    </div>

    <div>
        <div id="canvas" class="visible-background"></div>
    </div>
</form>

<div class="print">
    <button onclick="window.print()" class="btn">保存五线谱</button>
    <button id="midi" class="btn">下载MIDI文件</button>
    <a id="midi-download" download="样本.mid" style="display: none"></a>
</div>


</body>
</html>